@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .selection {
        color: theme('colors.black');
        font-weight: theme('fontWeight.bold');
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.md');
    }
}
